@charset "UTF-8";

:root .theme_light {
	--page-background-color: #fff1f7;
	--header-background-image: url(../images/cover-image-light.png);

	--link-shadow-color: #FF8DCB;
	--text-color: #353430;
	--header-color: var(--text-color);
	--decorated-zone-title-color: #FFC2E6;
	--decorated-zone-title-shadow-color: #FF0070;
	--title-decor-color: #353430;
	--title-decor-background-color: #FF8DCB;
	--section-title-color: #353430;

	--button-hover-color: rgba(50, 49, 45, 0.4);
	--border-color: var(--title-shadow);
	--corners-color: var(--main-text-color);
	--article-title-color: var(--main-text-color);
	--link-shadow: var(--title-color);
	--rec-color: var(--background-color);

	@media (width < 769px) {
		--decorated-zone-title-shadow-color: #FF8DCB;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--page-background-color: #fff1f7;
		--header-background-image: url(../images/cover-image-light.png);
	
		--text-color: #353430;
		--header-color: var(--text-colFFor);
		--decorated-zone-title-color: #FFC2E6;
		--decorated-zone-title-shadow-color: #FF0070;
		--title-decor-color: #353430;
		--title-decor-background-color: #FF8DCB;
		--section-title-color: #353430;
	
		--button-hover-color: rgba(50, 49, 45, 0.4);
		--border-color: var(--title-shadow);
		--corners-color: var(--main-text-color);
		--article-title-color: var(--main-text-color);
		--link-shadow: var(--title-color);
		--rec-color: var(--background-color);

		@media (width < 769px) {
			--decorated-zone-title-shadow-color: #FF8DCB;
		}
	}
}